USE [master]
GO
/****** Object:  Database [dummyclubs]    Script Date: 11-09-2025 12:00:12 ******/
CREATE DATABASE [dummyclubs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dummyclubs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dummyclubs.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dummyclubs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dummyclubs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dummyclubs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dummyclubs]
GO
/****** Object:  Table [dbo].[ApprovalStatusTable]    Script Date: 11-09-2025 12:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalStatusTable](
	[ApprovalStatusID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ApprovalStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClubRegistrations]    Script Date: 11-09-2025 12:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClubRegistrations](
	[RegistrationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ClubID] [int] NULL,
	[FullName] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[ContactNumber] [varchar](15) NULL,
	[PreferredRole] [varchar](50) NULL,
	[RoleJustification] [text] NULL,
	[ProfileImagePath] [varchar](255) NULL,
	[ApprovalStatusID] [int] NULL,
	[AssignedRole] [varchar](50) NULL,
	[RegisteredAt] [datetime] NULL,
	[DepartmentID] [int] NULL,
	[UniversityID] [int] NULL,
	[SubDepartmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLUBS]    Script Date: 11-09-2025 12:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLUBS](
	[ClubID] [int] IDENTITY(1,1) NOT NULL,
	[ClubName] [varchar](100) NOT NULL,
	[Abbreviation] [varchar](50) NULL,
	[Description] [nvarchar](max) NOT NULL,
	[TotalClubCommitteeSeats] [int] NOT NULL,
	[AvailableClubCommitteeSeats] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[DepartmentID] [int] NOT NULL,
	[MentorID] [int] NOT NULL,
	[LogoImagePath] [varchar](200) NULL,
	[IsActive] [bit] NULL,
	[ApprovalStatusID] [int] NOT NULL,
	[SubDepartmentID] [int] NULL,
	[ClubHeadName] [nvarchar](100) NULL,
	[ClubHeadEmail] [nvarchar](100) NULL,
	[ClubHeadMobile] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 11-09-2025 12:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NOT NULL,
	[ParentCommentID] [int] NULL,
	[UserName] [nvarchar](50) NULL,
	[CommentText] [nvarchar](500) NOT NULL,
	[PostedDate] [datetime] NOT NULL,
	[Avatar] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 11-09-2025 12:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](100) NOT NULL,
	[HOD] [varchar](100) NULL,
	[createdDate] [datetime] NULL,
	[Universityid] [int] NULL,
	[IsActive] [bit] NULL,
	[IsActiveDate] [datetime] NULL,
	[HOD_Email] [varchar](100) NULL,
	[DirectorName] [varchar](100) NULL,
	[DirectorEmail] [varchar](100) NULL,
	[IsDirectorDepartment] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventPhotos]    Script Date: 11-09-2025 12:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventPhotos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[PhotoPath] [nvarchar](255) NOT NULL,
	[UploadedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventRegistrations]    Script Date: 11-09-2025 12:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventRegistrations](
	[RegistrationID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NOT NULL,
	[TypeOfParticipation] [nvarchar](50) NOT NULL,
	[GroupName] [nvarchar](255) NULL,
	[NumberOfMembers] [int] NULL,
	[MemberNames] [nvarchar](max) NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[EnrollmentId] [nvarchar](50) NOT NULL,
	[UniversityName] [nvarchar](255) NULL,
	[Branch] [nvarchar](100) NULL,
	[YearOfStudy] [nvarchar](50) NULL,
	[RegisteredAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTS]    Script Date: 11-09-2025 12:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTS](
	[ClubID] [int] NULL,
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [varchar](100) NOT NULL,
	[EventDescription] [nvarchar](max) NULL,
	[EventType] [varchar](50) NULL,
	[EventStartDateAndTime] [datetime] NOT NULL,
	[EventEndDateAndTime] [datetime] NOT NULL,
	[EventCreatedDate] [datetime] NULL,
	[EventPoster] [varchar](200) NULL,
	[EventBrochure] [varchar](200) NULL,
	[NoOfLikes] [int] NULL,
	[NoOfDislikes] [int] NULL,
	[QRContentText] [varchar](200) NULL,
	[QRImage] [varchar](200) NULL,
	[EventOrganizerID] [int] NOT NULL,
	[ApprovalStatusID] [int] NOT NULL,
	[RegistrationURL] [varchar](500) NULL,
	[IsActive] [bit] NULL,
	[EventBannerPath] [nvarchar](255) NULL,
	[EventStatus] [varchar](50) NULL,
	[BudgetDocumentPath] [nvarchar](255) NULL,
	[ManualSheetPath] [nvarchar](255) NULL,
	[EventBudget] [nvarchar](255) NULL,
	[EventFormPath] [nvarchar](255) NULL,
	[ApprovedAmount] [nvarchar](255) NULL,
	[RejectionReason] [nvarchar](500) NULL,
	[Venue] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventVideos]    Script Date: 11-09-2025 12:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventVideos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NOT NULL,
	[VideoPath] [nvarchar](500) NOT NULL,
	[UploadedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventWinners]    Script Date: 11-09-2025 12:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventWinners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[WinnerName] [nvarchar](255) NOT NULL,
	[Prize] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logins]    Script Date: 11-09-2025 12:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logins](
	[LoginID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Role] [varchar](50) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[UniversityID] [int] NULL,
	[DepartmentID] [int] NULL,
	[OTP] [nvarchar](6) NULL,
	[OTPExpiry] [datetime] NULL,
	[SubDepartmentID] [int] NULL,
	[ClubID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 11-09-2025 12:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NULL,
	[Message] [nvarchar](max) NULL,
	[IsRead] [bit] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBDEPARTMENT]    Script Date: 11-09-2025 12:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBDEPARTMENT](
	[SubDepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[SubDepartmentName] [nvarchar](100) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[HOD] [nvarchar](100) NULL,
	[HOD_Email] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsActiveDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubDepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNIVERSITY]    Script Date: 11-09-2025 12:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIVERSITY](
	[UniversityID] [int] IDENTITY(1,1) NOT NULL,
	[UniversityNAME] [varchar](100) NOT NULL,
	[Abbreviation] [varchar](50) NULL,
	[Location] [varchar](200) NULL,
	[AdministratorName] [varchar](100) NULL,
	[Contact] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[IsActiveDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UniversityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 11-09-2025 12:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[SubscriptionStatus] [varchar](50) NULL,
	[RegistrationDate] [datetime] NULL,
	[UserType] [varchar](50) NULL,
	[Userrole] [varchar](50) NULL,
	[MobileNumber] [varchar](15) NOT NULL,
	[WhatsAppNumber] [varchar](15) NOT NULL,
	[Address] [varchar](255) NOT NULL,
	[City] [varchar](100) NOT NULL,
	[State] [varchar](100) NOT NULL,
	[PinCode] [varchar](10) NOT NULL,
	[IsActive] [bit] NULL,
	[IsActiveDate] [datetime] NULL,
	[PhotoPath] [varchar](200) NULL,
	[District] [varchar](255) NULL,
	[DepartmentID] [int] NULL,
	[SubDepartmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ApprovalStatusTable] ON 

INSERT [dbo].[ApprovalStatusTable] ([ApprovalStatusID], [Status]) VALUES (2, N'APPROVED')
INSERT [dbo].[ApprovalStatusTable] ([ApprovalStatusID], [Status]) VALUES (1, N'PENDING')
INSERT [dbo].[ApprovalStatusTable] ([ApprovalStatusID], [Status]) VALUES (7, N'Pending Director Approval')
SET IDENTITY_INSERT [dbo].[ApprovalStatusTable] OFF
GO
SET IDENTITY_INSERT [dbo].[ClubRegistrations] ON 

INSERT [dbo].[ClubRegistrations] ([RegistrationID], [UserID], [ClubID], [FullName], [Email], [ContactNumber], [PreferredRole], [RoleJustification], [ProfileImagePath], [ApprovalStatusID], [AssignedRole], [RegisteredAt], [DepartmentID], [UniversityID], [SubDepartmentID]) VALUES (4, 43, 14, N'Althaf', N'althaf@gmail.com', N'78945632102', N'Club Admin', N'bkb', N'/uploads/84c5a3b7-ba32-4277-9af8-facc0041963e_aiboy.jpg', 1, N'Club Admin', CAST(N'2025-03-10T11:35:51.140' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[ClubRegistrations] ([RegistrationID], [UserID], [ClubID], [FullName], [Email], [ContactNumber], [PreferredRole], [RoleJustification], [ProfileImagePath], [ApprovalStatusID], [AssignedRole], [RegisteredAt], [DepartmentID], [UniversityID], [SubDepartmentID]) VALUES (1006, 1045, 14, N'gopal', N'gopal@gmail.com', N'8907653214', N'Club Admin', N'asdf', N'/uploads/9637a0a7-c486-4f91-83b3-5661c4ab4b19_Screenshot 2025-02-27 150035.png', 2, N'Club Admin', CAST(N'2025-03-20T11:43:59.703' AS DateTime), 25, 35, NULL)
INSERT [dbo].[ClubRegistrations] ([RegistrationID], [UserID], [ClubID], [FullName], [Email], [ContactNumber], [PreferredRole], [RoleJustification], [ProfileImagePath], [ApprovalStatusID], [AssignedRole], [RegisteredAt], [DepartmentID], [UniversityID], [SubDepartmentID]) VALUES (1007, 1047, 16, N'mkln', N'njdsn@gmail.com', N'563214789', N'Club Admin', N'gghjk', N'/uploads/d67bc53e-3a65-48cd-b58e-c911faba952a_Screenshot 2024-12-13 132222.png', 2, N'Club Admin', CAST(N'2025-03-21T12:50:15.753' AS DateTime), 29, 35, NULL)
SET IDENTITY_INSERT [dbo].[ClubRegistrations] OFF
GO
SET IDENTITY_INSERT [dbo].[CLUBS] ON 

SET IDENTITY_INSERT [dbo].[CLUBS] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentID], [EventID], [ParentCommentID], [UserName], [CommentText], [PostedDate], [Avatar]) VALUES (1, 4, NULL, N'hgj', N'hvh', CAST(N'2025-04-11T15:41:07.750' AS DateTime), NULL)
INSERT [dbo].[Comments] ([CommentID], [EventID], [ParentCommentID], [UserName], [CommentText], [PostedDate], [Avatar]) VALUES (2, 4, NULL, N'Althaf', N'Hii , whats up guyss??', CAST(N'2025-04-11T15:42:28.243' AS DateTime), NULL)
INSERT [dbo].[Comments] ([CommentID], [EventID], [ParentCommentID], [UserName], [CommentText], [PostedDate], [Avatar]) VALUES (3, 4, 2, N'bjbj', N'hbu', CAST(N'2025-04-11T16:09:51.840' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[DEPARTMENT] ON 

INSERT [dbo].[DEPARTMENT] ([DepartmentID], [DepartmentName], [HOD], [createdDate], [Universityid], [IsActive], [IsActiveDate], [HOD_Email], [DirectorName], [DirectorEmail], [IsDirectorDepartment]) VALUES (24, N'ICFAI Business School', N'Nandan', CAST(N'2025-02-28T17:43:47.047' AS DateTime), 35, 1, CAST(N'2025-02-28T17:43:47.047' AS DateTime), N'Nandan@gmail.com', NULL, NULL, NULL)
INSERT [dbo].[DEPARTMENT] ([DepartmentID], [DepartmentName], [HOD], [createdDate], [Universityid], [IsActive], [IsActiveDate], [HOD_Email], [DirectorName], [DirectorEmail], [IsDirectorDepartment]) VALUES (25, N'ICFAI Tech School', N'Hima sai', CAST(N'2025-02-28T17:43:47.047' AS DateTime), 35, 1, CAST(N'2025-02-28T17:43:47.047' AS DateTime), N'himasai@gmail.com', NULL, NULL, NULL)
INSERT [dbo].[DEPARTMENT] ([DepartmentID], [DepartmentName], [HOD], [createdDate], [Universityid], [IsActive], [IsActiveDate], [HOD_Email], [DirectorName], [DirectorEmail], [IsDirectorDepartment]) VALUES (26, N'ICFAI School Of Architecture', N'Althaf', CAST(N'2025-02-28T17:43:47.047' AS DateTime), 35, 1, CAST(N'2025-02-28T17:43:47.047' AS DateTime), N'althaf@gmail.com', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DEPARTMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[EventPhotos] ON 

INSERT [dbo].[EventPhotos] ([Id], [EventId], [PhotoPath], [UploadedDate]) VALUES (2, 4, N'/wwwroot/Images/poster drawing.jpg', CAST(N'2025-04-28T17:22:08.413' AS DateTime))
INSERT [dbo].[EventPhotos] ([Id], [EventId], [PhotoPath], [UploadedDate]) VALUES (3, 4, N'/wwwroot/Images/poster.jpg', CAST(N'2025-04-28T17:22:08.480' AS DateTime))
INSERT [dbo].[EventPhotos] ([Id], [EventId], [PhotoPath], [UploadedDate]) VALUES (4, 4, N'/wwwroot/Images/poster1.jpg', CAST(N'2025-04-28T17:22:08.510' AS DateTime))
SET IDENTITY_INSERT [dbo].[EventPhotos] OFF
GO
SET IDENTITY_INSERT [dbo].[EventRegistrations] ON 

INSERT [dbo].[EventRegistrations] ([RegistrationID], [EventID], [TypeOfParticipation], [GroupName], [NumberOfMembers], [MemberNames], [FullName], [Email], [PhoneNumber], [EnrollmentId], [UniversityName], [Branch], [YearOfStudy], [RegisteredAt]) VALUES (1, 4, N'Individual', NULL, 1, NULL, N'John Doe', N'john@example.com', N'1234567890', N'ENR001', N'ABC University', N'CSE', N'3rd', CAST(N'2025-04-23T12:23:07.150' AS DateTime))
INSERT [dbo].[EventRegistrations] ([RegistrationID], [EventID], [TypeOfParticipation], [GroupName], [NumberOfMembers], [MemberNames], [FullName], [Email], [PhoneNumber], [EnrollmentId], [UniversityName], [Branch], [YearOfStudy], [RegisteredAt]) VALUES (4, 4, N'Individual', NULL, 1, NULL, N'John Doe', N'john@example.com', N'1234567890', N'ENR001', N'ABC University', N'CSE', N'3rd', CAST(N'2025-04-23T12:50:09.397' AS DateTime))
INSERT [dbo].[EventRegistrations] ([RegistrationID], [EventID], [TypeOfParticipation], [GroupName], [NumberOfMembers], [MemberNames], [FullName], [Email], [PhoneNumber], [EnrollmentId], [UniversityName], [Branch], [YearOfStudy], [RegisteredAt]) VALUES (11, 4, N'Group', N'AI Innovators', 3, N'Alice, Bob, Charlie', N'Alice Smith', N'althafsk2003@gmail.com', N'9876543210', N'ENR123456', N'XYZ University', N'Computer Science', N'3rd Year', CAST(N'2025-04-23T17:13:14.707' AS DateTime))
SET IDENTITY_INSERT [dbo].[EventRegistrations] OFF
GO
SET IDENTITY_INSERT [dbo].[EVENTS] ON 

GO
SET IDENTITY_INSERT [dbo].[EVENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[EventWinners] ON 

INSERT [dbo].[EventWinners] ([Id], [EventId], [WinnerName], [Prize], [Description]) VALUES (1, 4, N'Althaf', N'1', NULL)
INSERT [dbo].[EventWinners] ([Id], [EventId], [WinnerName], [Prize], [Description]) VALUES (3, 4, N'Althaf shaik', N'2', N'Typically highlights their creative vision, technical skills, and ability to effectively communicate a message through visual means. It also acknowledges their achievement in a competitive field, recognizing them as a promising talent. Additionally, the description often includes the theme or subject of the poster and may mention any specific details that stood out to the judges. ')
INSERT [dbo].[EventWinners] ([Id], [EventId], [WinnerName], [Prize], [Description]) VALUES (4, 4, N'Althaf Althaf', N'3', N'Typically highlights their creative vision, technical skills, and ability to effectively communicate a message through visual means. It also acknowledges their achievement in a competitive field, recognizing them as a promising talent. Additionally, the description often includes the theme or subject of the poster and may mention any specific details that stood out to the judges. ')
SET IDENTITY_INSERT [dbo].[EventWinners] OFF
GO
SET IDENTITY_INSERT [dbo].[Logins] ON 

INSERT [dbo].[Logins] ([LoginID], [Email], [PasswordHash], [Role], [CreatedDate], [IsActive], [UniversityID], [DepartmentID], [OTP], [OTPExpiry], [SubDepartmentID], [ClubID]) VALUES (1, N'sharma@gmail.com', N'Admin', N'Admin', CAST(N'2025-02-06T13:03:20.743' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Logins] ([LoginID], [Email], [PasswordHash], [Role], [CreatedDate], [IsActive], [UniversityID], [DepartmentID], [OTP], [OTPExpiry], [SubDepartmentID], [ClubID]) VALUES (2, N'althafsk2003@gmail.com', N'$2a$11$87/zW2gTQnk4xoDfufB9AuHZDyiWue/X2.jW7HSJRd.pA0zDOU3Z.', N'UniversityAdministrator', CAST(N'2025-02-06T15:38:43.047' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Logins] ([LoginID], [Email], [PasswordHash], [Role], [CreatedDate], [IsActive], [UniversityID], [DepartmentID], [OTP], [OTPExpiry], [SubDepartmentID], [ClubID]) VALUES (3, N'himasaisankar0902@gmail.com', N'Administrator@123', N'UniversityAdministrator', CAST(N'2025-02-10T12:14:46.447' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Logins] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [LoginID], [Message], [IsRead], [StartDate], [EndDate], [CreatedDate]) VALUES (1, 6, N'Your club ''Photo'' has been approved!', 1, CAST(N'2025-02-19T12:55:19.493' AS DateTime), CAST(N'2025-02-26T12:55:19.493' AS DateTime), CAST(N'2025-02-19T12:55:19.493' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationID], [LoginID], [Message], [IsRead], [StartDate], [EndDate], [CreatedDate]) VALUES (2, 6, N'Your club ''Tech hunt'' has been approved!', 1, CAST(N'2025-02-19T14:15:43.877' AS DateTime), CAST(N'2025-02-26T14:15:43.877' AS DateTime), CAST(N'2025-02-19T14:15:43.877' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationID], [LoginID], [Message], [IsRead], [StartDate], [EndDate], [CreatedDate]) VALUES (3, 6, N'Your club ''ghjkl'' has been rejected. Please contact the admin for details.', 0, CAST(N'2025-02-19T15:35:36.090' AS DateTime), CAST(N'2025-02-26T15:35:36.090' AS DateTime), CAST(N'2025-02-19T15:35:36.090' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[SUBDEPARTMENT] ON 

INSERT [dbo].[SUBDEPARTMENT] ([SubDepartmentID], [SubDepartmentName], [DepartmentID], [HOD], [HOD_Email], [CreatedDate], [IsActive], [IsActiveDate]) VALUES (1, N'cse', 36, N'agfggf', N'xssss@gmail.com', CAST(N'2025-07-14T19:41:03.057' AS DateTime), 1, CAST(N'2025-07-14T19:41:03.057' AS DateTime))
INSERT [dbo].[SUBDEPARTMENT] ([SubDepartmentID], [SubDepartmentName], [DepartmentID], [HOD], [HOD_Email], [CreatedDate], [IsActive], [IsActiveDate]) VALUES (2, N'ece', 36, N'agfggf', N'xssss@gmail.com', CAST(N'2025-07-14T19:41:03.060' AS DateTime), 1, CAST(N'2025-07-14T19:41:03.060' AS DateTime))
INSERT [dbo].[SUBDEPARTMENT] ([SubDepartmentID], [SubDepartmentName], [DepartmentID], [HOD], [HOD_Email], [CreatedDate], [IsActive], [IsActiveDate]) VALUES (3, N'cse', 36, N'dsfs', N'ss@gmail.com', CAST(N'2025-07-14T19:42:22.433' AS DateTime), 1, CAST(N'2025-07-14T19:42:22.433' AS DateTime))
SET IDENTITY_INSERT [dbo].[SUBDEPARTMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[UNIVERSITY] ON 

INSERT [dbo].[UNIVERSITY] ([UniversityID], [UniversityNAME], [Abbreviation], [Location], [AdministratorName], [Contact], [Email], [CreatedDate], [IsActive], [IsActiveDate]) VALUES (35, N'ICFAI foundation for higher education', N'IFHE', N'Hydreabad', N'Sameer', N'7894512360', N'sksameer1234@gmail.com', CAST(N'2025-02-28T17:33:21.320' AS DateTime), 1, CAST(N'2025-02-28T17:33:21.320' AS DateTime))
INSERT [dbo].[UNIVERSITY] ([UniversityID], [UniversityNAME], [Abbreviation], [Location], [AdministratorName], [Contact], [Email], [CreatedDate], [IsActive], [IsActiveDate]) VALUES (40, N'ICFAI university', N'ICFAI', N'Jaipur', N'Shaik', N'7894561230', N'shaik@gmail.com', CAST(N'2025-05-24T17:47:19.057' AS DateTime), 1, CAST(N'2025-05-24T17:47:19.057' AS DateTime))
SET IDENTITY_INSERT [dbo].[UNIVERSITY] OFF
GO
SET IDENTITY_INSERT [dbo].[USER] ON 

SET IDENTITY_INSERT [dbo].[USER] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Approval__3A15923F0C24C2A1]    Script Date: 11-09-2025 12:00:12 ******/
ALTER TABLE [dbo].[ApprovalStatusTable] ADD UNIQUE NONCLUSTERED 
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Approval__3A15923F1633C706]    Script Date: 11-09-2025 12:00:12 ******/
ALTER TABLE [dbo].[ApprovalStatusTable] ADD UNIQUE NONCLUSTERED 
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Approval__3A15923F34771020]    Script Date: 11-09-2025 12:00:12 ******/
ALTER TABLE [dbo].[ApprovalStatusTable] ADD UNIQUE NONCLUSTERED 
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Approval__3A15923F6F8A9765]    Script Date: 11-09-2025 12:00:12 ******/
ALTER TABLE [dbo].[ApprovalStatusTable] ADD UNIQUE NONCLUSTERED 
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Approval__3A15923FCD17A396]    Script Date: 11-09-2025 12:00:12 ******/
ALTER TABLE [dbo].[ApprovalStatusTable] ADD UNIQUE NONCLUSTERED 
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Approval__3A15923FE093CCA8]    Script Date: 11-09-2025 12:00:12 ******/
ALTER TABLE [dbo].[ApprovalStatusTable] ADD UNIQUE NONCLUSTERED 
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Approval__3A15923FF9325793]    Script Date: 11-09-2025 12:00:12 ******/
ALTER TABLE [dbo].[ApprovalStatusTable] ADD UNIQUE NONCLUSTERED 
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ClubRegi__A9D1053408247822]    Script Date: 11-09-2025 12:00:12 ******/
ALTER TABLE [dbo].[ClubRegistrations] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ClubRegi__A9D105345524B6DD]    Script Date: 11-09-2025 12:00:12 ******/
ALTER TABLE [dbo].[ClubRegistrations] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ClubRegi__A9D105346D52A8AE]    Script Date: 11-09-2025 12:00:12 ******/
ALTER TABLE [dbo].[ClubRegistrations] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ClubRegi__A9D105348CF2C7DC]    Script Date: 11-09-2025 12:00:12 ******/
ALTER TABLE [dbo].[ClubRegistrations] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ClubRegi__A9D105349868084E]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[ClubRegistrations] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ClubRegi__A9D10534AD619262]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[ClubRegistrations] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ClubRegi__A9D10534C6D49CD3]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[ClubRegistrations] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CLUBS__7A58A9CF1D84DDCC]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[CLUBS] ADD UNIQUE NONCLUSTERED 
(
	[ClubName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CLUBS__7A58A9CF30A874FF]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[CLUBS] ADD UNIQUE NONCLUSTERED 
(
	[ClubName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CLUBS__7A58A9CF649D648D]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[CLUBS] ADD UNIQUE NONCLUSTERED 
(
	[ClubName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CLUBS__7A58A9CF6B7751C9]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[CLUBS] ADD UNIQUE NONCLUSTERED 
(
	[ClubName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CLUBS__7A58A9CF8C1DFE51]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[CLUBS] ADD UNIQUE NONCLUSTERED 
(
	[ClubName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CLUBS__7A58A9CFC0EF9F8F]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[CLUBS] ADD UNIQUE NONCLUSTERED 
(
	[ClubName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CLUBS__7A58A9CFC2F14C65]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[CLUBS] ADD UNIQUE NONCLUSTERED 
(
	[ClubName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Logins__A9D10534300BF4AB]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[Logins] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Logins__A9D1053446469E7D]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[Logins] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Logins__A9D105346FC686E3]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[Logins] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Logins__A9D1053477F264D5]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[Logins] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Logins__A9D10534B76C9369]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[Logins] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Logins__A9D10534E707397D]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[Logins] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Logins__A9D10534EBF9CE7E]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[Logins] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UNIVERSI__4BF4173E3F8DDBF1]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[UNIVERSITY] ADD UNIQUE NONCLUSTERED 
(
	[UniversityNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UNIVERSI__4BF4173E5278CD8D]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[UNIVERSITY] ADD UNIQUE NONCLUSTERED 
(
	[UniversityNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UNIVERSI__4BF4173E5FDCFDA0]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[UNIVERSITY] ADD UNIQUE NONCLUSTERED 
(
	[UniversityNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UNIVERSI__4BF4173E821A89E6]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[UNIVERSITY] ADD UNIQUE NONCLUSTERED 
(
	[UniversityNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UNIVERSI__4BF4173E886224E9]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[UNIVERSITY] ADD UNIQUE NONCLUSTERED 
(
	[UniversityNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UNIVERSI__4BF4173EA07C4200]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[UNIVERSITY] ADD UNIQUE NONCLUSTERED 
(
	[UniversityNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UNIVERSI__4BF4173EAC4B99E9]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[UNIVERSITY] ADD UNIQUE NONCLUSTERED 
(
	[UniversityNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER__A9D1053449005478]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[USER] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER__A9D1053457F273A6]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[USER] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER__A9D1053478E5A4FA]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[USER] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER__A9D105348DEE948A]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[USER] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER__A9D10534BEAEABE8]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[USER] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER__A9D10534CB9B8900]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[USER] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER__A9D10534E7371FA9]    Script Date: 11-09-2025 12:00:13 ******/
ALTER TABLE [dbo].[USER] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClubRegistrations] ADD  DEFAULT ('Club Member') FOR [PreferredRole]
GO
ALTER TABLE [dbo].[ClubRegistrations] ADD  DEFAULT ((1)) FOR [ApprovalStatusID]
GO
ALTER TABLE [dbo].[ClubRegistrations] ADD  DEFAULT ('Club Member') FOR [AssignedRole]
GO
ALTER TABLE [dbo].[ClubRegistrations] ADD  DEFAULT (getdate()) FOR [RegisteredAt]
GO
ALTER TABLE [dbo].[CLUBS] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CLUBS] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DEPARTMENT] ADD  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[DEPARTMENT] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DEPARTMENT] ADD  DEFAULT (getdate()) FOR [IsActiveDate]
GO
ALTER TABLE [dbo].[DEPARTMENT] ADD  DEFAULT ((0)) FOR [IsDirectorDepartment]
GO
ALTER TABLE [dbo].[EventRegistrations] ADD  DEFAULT (getdate()) FOR [RegisteredAt]
GO
ALTER TABLE [dbo].[EVENTS] ADD  DEFAULT (getdate()) FOR [EventCreatedDate]
GO
ALTER TABLE [dbo].[EVENTS] ADD  DEFAULT ((0)) FOR [NoOfLikes]
GO
ALTER TABLE [dbo].[EVENTS] ADD  DEFAULT ((0)) FOR [NoOfDislikes]
GO
ALTER TABLE [dbo].[EVENTS] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EventVideos] ADD  DEFAULT (getdate()) FOR [UploadedDate]
GO
ALTER TABLE [dbo].[Logins] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Logins] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SUBDEPARTMENT] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SUBDEPARTMENT] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SUBDEPARTMENT] ADD  DEFAULT (getdate()) FOR [IsActiveDate]
GO
ALTER TABLE [dbo].[UNIVERSITY] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[UNIVERSITY] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UNIVERSITY] ADD  DEFAULT (getdate()) FOR [IsActiveDate]
GO
ALTER TABLE [dbo].[USER] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[USER] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[USER] ADD  DEFAULT (getdate()) FOR [IsActiveDate]
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[CLUBS] ([ClubID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[CLUBS] ([ClubID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[CLUBS] ([ClubID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[CLUBS] ([ClubID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[CLUBS] ([ClubID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[CLUBS] ([ClubID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[CLUBS] ([ClubID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USER] ([UserID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USER] ([UserID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USER] ([UserID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USER] ([UserID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USER] ([UserID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USER] ([UserID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USER] ([UserID])
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_ClubRegistrations_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[DEPARTMENT] ([DepartmentID])
GO
ALTER TABLE [dbo].[ClubRegistrations] CHECK CONSTRAINT [FK_ClubRegistrations_Department]
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_ClubRegistrations_SubDepartment] FOREIGN KEY([SubDepartmentID])
REFERENCES [dbo].[SUBDEPARTMENT] ([SubDepartmentID])
GO
ALTER TABLE [dbo].[ClubRegistrations] CHECK CONSTRAINT [FK_ClubRegistrations_SubDepartment]
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_ClubRegistrations_University] FOREIGN KEY([UniversityID])
REFERENCES [dbo].[UNIVERSITY] ([UniversityID])
GO
ALTER TABLE [dbo].[ClubRegistrations] CHECK CONSTRAINT [FK_ClubRegistrations_University]
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[DEPARTMENT] ([DepartmentID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[DEPARTMENT] ([DepartmentID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[DEPARTMENT] ([DepartmentID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[DEPARTMENT] ([DepartmentID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[DEPARTMENT] ([DepartmentID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[DEPARTMENT] ([DepartmentID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[DEPARTMENT] ([DepartmentID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([MentorID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([MentorID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([MentorID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([MentorID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([MentorID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([MentorID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD FOREIGN KEY([MentorID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD  CONSTRAINT [FK_CLUBS_SubDepartment] FOREIGN KEY([SubDepartmentID])
REFERENCES [dbo].[SUBDEPARTMENT] ([SubDepartmentID])
GO
ALTER TABLE [dbo].[CLUBS] CHECK CONSTRAINT [FK_CLUBS_SubDepartment]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Events] FOREIGN KEY([EventID])
REFERENCES [dbo].[EVENTS] ([EventID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Events]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Parent] FOREIGN KEY([ParentCommentID])
REFERENCES [dbo].[Comments] ([CommentID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Parent]
GO
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD FOREIGN KEY([Universityid])
REFERENCES [dbo].[UNIVERSITY] ([UniversityID])
GO
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD FOREIGN KEY([Universityid])
REFERENCES [dbo].[UNIVERSITY] ([UniversityID])
GO
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD FOREIGN KEY([Universityid])
REFERENCES [dbo].[UNIVERSITY] ([UniversityID])
GO
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD FOREIGN KEY([Universityid])
REFERENCES [dbo].[UNIVERSITY] ([UniversityID])
GO
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD FOREIGN KEY([Universityid])
REFERENCES [dbo].[UNIVERSITY] ([UniversityID])
GO
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD FOREIGN KEY([Universityid])
REFERENCES [dbo].[UNIVERSITY] ([UniversityID])
GO
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD FOREIGN KEY([Universityid])
REFERENCES [dbo].[UNIVERSITY] ([UniversityID])
GO
ALTER TABLE [dbo].[EventPhotos]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[EVENTS] ([EventID])
GO
ALTER TABLE [dbo].[EventPhotos]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[EVENTS] ([EventID])
GO
ALTER TABLE [dbo].[EventPhotos]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[EVENTS] ([EventID])
GO
ALTER TABLE [dbo].[EventPhotos]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[EVENTS] ([EventID])
GO
ALTER TABLE [dbo].[EventPhotos]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[EVENTS] ([EventID])
GO
ALTER TABLE [dbo].[EventPhotos]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[EVENTS] ([EventID])
GO
ALTER TABLE [dbo].[EventPhotos]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[EVENTS] ([EventID])
GO
ALTER TABLE [dbo].[EventRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_Registrations_Events] FOREIGN KEY([EventID])
REFERENCES [dbo].[EVENTS] ([EventID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventRegistrations] CHECK CONSTRAINT [FK_Registrations_Events]
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([ApprovalStatusID])
REFERENCES [dbo].[ApprovalStatusTable] ([ApprovalStatusID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[CLUBS] ([ClubID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[CLUBS] ([ClubID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[CLUBS] ([ClubID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[CLUBS] ([ClubID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[CLUBS] ([ClubID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[CLUBS] ([ClubID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[CLUBS] ([ClubID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([EventOrganizerID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([EventOrganizerID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([EventOrganizerID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([EventOrganizerID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([EventOrganizerID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([EventOrganizerID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([EventOrganizerID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[EventVideos]  WITH CHECK ADD  CONSTRAINT [FK_EventVideos_EVENTS] FOREIGN KEY([EventID])
REFERENCES [dbo].[EVENTS] ([EventID])
GO
ALTER TABLE [dbo].[EventVideos] CHECK CONSTRAINT [FK_EventVideos_EVENTS]
GO
ALTER TABLE [dbo].[EventWinners]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[EVENTS] ([EventID])
GO
ALTER TABLE [dbo].[EventWinners]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[EVENTS] ([EventID])
GO
ALTER TABLE [dbo].[EventWinners]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[EVENTS] ([EventID])
GO
ALTER TABLE [dbo].[EventWinners]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[EVENTS] ([EventID])
GO
ALTER TABLE [dbo].[EventWinners]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[EVENTS] ([EventID])
GO
ALTER TABLE [dbo].[EventWinners]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[EVENTS] ([EventID])
GO
ALTER TABLE [dbo].[EventWinners]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[EVENTS] ([EventID])
GO
ALTER TABLE [dbo].[Logins]  WITH CHECK ADD  CONSTRAINT [FK_Logins_CLUBS] FOREIGN KEY([ClubID])
REFERENCES [dbo].[CLUBS] ([ClubID])
GO
ALTER TABLE [dbo].[Logins] CHECK CONSTRAINT [FK_Logins_CLUBS]
GO
ALTER TABLE [dbo].[Logins]  WITH CHECK ADD  CONSTRAINT [FK_Logins_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[DEPARTMENT] ([DepartmentID])
GO
ALTER TABLE [dbo].[Logins] CHECK CONSTRAINT [FK_Logins_Department]
GO
ALTER TABLE [dbo].[Logins]  WITH CHECK ADD  CONSTRAINT [FK_Logins_SubDepartment] FOREIGN KEY([SubDepartmentID])
REFERENCES [dbo].[SUBDEPARTMENT] ([SubDepartmentID])
GO
ALTER TABLE [dbo].[Logins] CHECK CONSTRAINT [FK_Logins_SubDepartment]
GO
ALTER TABLE [dbo].[Logins]  WITH CHECK ADD  CONSTRAINT [FK_Logins_University] FOREIGN KEY([UniversityID])
REFERENCES [dbo].[UNIVERSITY] ([UniversityID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Logins] CHECK CONSTRAINT [FK_Logins_University]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([LoginID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([LoginID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([LoginID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([LoginID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([LoginID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([LoginID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([LoginID])
REFERENCES [dbo].[Logins] ([LoginID])
GO
ALTER TABLE [dbo].[SUBDEPARTMENT]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[DEPARTMENT] ([DepartmentID])
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_SubDepartment] FOREIGN KEY([SubDepartmentID])
REFERENCES [dbo].[SUBDEPARTMENT] ([SubDepartmentID])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_SubDepartment]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_Users_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[DEPARTMENT] ([DepartmentID])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_Users_Department]
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD CHECK  (([AssignedRole]='Secretary' OR [AssignedRole]='Treasurer' OR [AssignedRole]='Vice President' OR [AssignedRole]='President' OR [AssignedRole]='Club Admin' OR [AssignedRole]='Club Member'))
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD CHECK  (([AssignedRole]='Secretary' OR [AssignedRole]='Treasurer' OR [AssignedRole]='Vice President' OR [AssignedRole]='President' OR [AssignedRole]='Club Admin' OR [AssignedRole]='Club Member'))
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD CHECK  (([AssignedRole]='Secretary' OR [AssignedRole]='Treasurer' OR [AssignedRole]='Vice President' OR [AssignedRole]='President' OR [AssignedRole]='Club Admin' OR [AssignedRole]='Club Member'))
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD CHECK  (([AssignedRole]='Secretary' OR [AssignedRole]='Treasurer' OR [AssignedRole]='Vice President' OR [AssignedRole]='President' OR [AssignedRole]='Club Admin' OR [AssignedRole]='Club Member'))
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD CHECK  (([AssignedRole]='Secretary' OR [AssignedRole]='Treasurer' OR [AssignedRole]='Vice President' OR [AssignedRole]='President' OR [AssignedRole]='Club Admin' OR [AssignedRole]='Club Member'))
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD CHECK  (([AssignedRole]='Secretary' OR [AssignedRole]='Treasurer' OR [AssignedRole]='Vice President' OR [AssignedRole]='President' OR [AssignedRole]='Club Admin' OR [AssignedRole]='Club Member'))
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD CHECK  (([AssignedRole]='Secretary' OR [AssignedRole]='Treasurer' OR [AssignedRole]='Vice President' OR [AssignedRole]='President' OR [AssignedRole]='Club Admin' OR [AssignedRole]='Club Member'))
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD CHECK  (([PreferredRole]='Secretary' OR [PreferredRole]='Treasurer' OR [PreferredRole]='Vice President' OR [PreferredRole]='President' OR [PreferredRole]='Club Admin' OR [PreferredRole]='Club Member'))
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD CHECK  (([PreferredRole]='Secretary' OR [PreferredRole]='Treasurer' OR [PreferredRole]='Vice President' OR [PreferredRole]='President' OR [PreferredRole]='Club Admin' OR [PreferredRole]='Club Member'))
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD CHECK  (([PreferredRole]='Secretary' OR [PreferredRole]='Treasurer' OR [PreferredRole]='Vice President' OR [PreferredRole]='President' OR [PreferredRole]='Club Admin' OR [PreferredRole]='Club Member'))
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD CHECK  (([PreferredRole]='Secretary' OR [PreferredRole]='Treasurer' OR [PreferredRole]='Vice President' OR [PreferredRole]='President' OR [PreferredRole]='Club Admin' OR [PreferredRole]='Club Member'))
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD CHECK  (([PreferredRole]='Secretary' OR [PreferredRole]='Treasurer' OR [PreferredRole]='Vice President' OR [PreferredRole]='President' OR [PreferredRole]='Club Admin' OR [PreferredRole]='Club Member'))
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD CHECK  (([PreferredRole]='Secretary' OR [PreferredRole]='Treasurer' OR [PreferredRole]='Vice President' OR [PreferredRole]='President' OR [PreferredRole]='Club Admin' OR [PreferredRole]='Club Member'))
GO
ALTER TABLE [dbo].[ClubRegistrations]  WITH CHECK ADD CHECK  (([PreferredRole]='Secretary' OR [PreferredRole]='Treasurer' OR [PreferredRole]='Vice President' OR [PreferredRole]='President' OR [PreferredRole]='Club Admin' OR [PreferredRole]='Club Member'))
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD CHECK  (([EventType]='campus' OR [EventType]='open'))
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD CHECK  (([EventType]='campus' OR [EventType]='open'))
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD CHECK  (([EventType]='campus' OR [EventType]='open'))
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD CHECK  (([EventType]='campus' OR [EventType]='open'))
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD CHECK  (([EventType]='campus' OR [EventType]='open'))
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD CHECK  (([EventType]='campus' OR [EventType]='open'))
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD CHECK  (([EventType]='campus' OR [EventType]='open'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([SubscriptionStatus]='normal' OR [SubscriptionStatus]='premium'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([SubscriptionStatus]='normal' OR [SubscriptionStatus]='premium'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([SubscriptionStatus]='normal' OR [SubscriptionStatus]='premium'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([SubscriptionStatus]='normal' OR [SubscriptionStatus]='premium'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([SubscriptionStatus]='normal' OR [SubscriptionStatus]='premium'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([SubscriptionStatus]='normal' OR [SubscriptionStatus]='premium'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([SubscriptionStatus]='normal' OR [SubscriptionStatus]='premium'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([Userrole]='Student' OR [Userrole]='Mentor' OR [Userrole]='Admin'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([Userrole]='Student' OR [Userrole]='Mentor' OR [Userrole]='Admin'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([Userrole]='Student' OR [Userrole]='Mentor' OR [Userrole]='Admin'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([Userrole]='Student' OR [Userrole]='Mentor' OR [Userrole]='Admin'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([Userrole]='Student' OR [Userrole]='Mentor' OR [Userrole]='Admin'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([Userrole]='Student' OR [Userrole]='Mentor' OR [Userrole]='Admin'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([Userrole]='Student' OR [Userrole]='Mentor' OR [Userrole]='Admin'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([UserType]='open' OR [UserType]='campus'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([UserType]='open' OR [UserType]='campus'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([UserType]='open' OR [UserType]='campus'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([UserType]='open' OR [UserType]='campus'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([UserType]='open' OR [UserType]='campus'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([UserType]='open' OR [UserType]='campus'))
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD CHECK  (([UserType]='open' OR [UserType]='campus'))
GO
USE [master]
GO
