@{
    Layout = "~/Views/Shared/_HodLayout.cshtml";
    /* Layout = null;*/
    ViewBag.Title = "HOD Dashboard";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow border-0">
                <div class="card-header bg-info text-white text-center">
                    <h4>Welcome HOD</h4>
                </div>
                <div class="card-body text-center">
                    <p><strong>University:</strong> @ViewBag.UniversityName</p>
                    <p><strong>Department:</strong> @ViewBag.DepartmentName</p>
                    <p><strong>Total Clubs in Your Department:</strong> @ViewBag.TotalClubs</p>
                </div>
            </div>
        </div>
    </div>
</div>
