
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>successmentor</title>
</head>
<body>
    <div> 
        <h1> Mentor added successfully , and send his credentials successfully </h1>
    </div>
</body>
</html>
